<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>
        <section name="HeyCacheProvider" type="HeyCahcer2.Helper.Provider.ProviderSectionHandler, HeyCahcer2.Core" />
    </configSections>

    <!--程序基本设置-->
    <appSettings>
    </appSettings>

    <!--HeyCache缓存供应源配置-->
    <HeyCacheProvider>
        <providers>
            <!--基于企业库的内存缓存
            ManagerName: 对应的企业库的管理策略名称
            -->
            <add name="EntlibProvider" type="HeyCahcer2.CacheProviders.EntlibProvider.Provider, HeyCahcer2.EntlibProvider" ManagerName="" />
        </providers>
    </HeyCacheProvider>

</configuration>