<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/Admin")
    @Scripts.Render("~/Scripts/jquery", "~/Scripts/jqueryval", "~/Scripts/easyui", "~/Scripts/admin")
</head>

<body>
    @RenderBody()

</body>
</html>
