@{
    ViewBag.Title = "AddUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .search-panel ul li {
        margin: 0;
        display: inline-block;
    }

    .search-panel ul:first-child {
        padding-left: 0px;
    }

    .search-panel input[type='text'] {
        min-width: 180px;
    }
</style>

<div class="search-panel" style="margin-bottom: 10px">

    <ul class="control-list">
        <li>
            <label for="Name">名称：</label>
            <input id="Name" data-setting-field="Name" data-setting-type="string" type="text" name="Name" value="" />
        </li>
    </ul>
</div>

<div id="toolbar">
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="newUser()">New User</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true" onclick="editUser()">Edit User</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true" onclick="destroyUser()">Remove User</a>
</div>

<table id="datagrid" title="" url="@Url.Action("GetUsers", "Users", new { area = "Admin" })" ></table>

<script type="text/javascript">
    function _initGrid() {
        initialDataGrid([[{ field: 'ActionName', title: '名', width: 80 },
           { field: 'Controller', width: 80, align: 'right' },
           { field: 'Id', title: '手机', width: 50 },
           { field: 'Name', title: 'Name', width: 60 }]]);
    }

    function buildParams(param) {
        buildUpParams(param);
    }

</script>
