@{
    ViewBag.Title = "AddUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .search-panel ul li {
        margin: 0;
        display: inline-block;
    }

    .search-panel ul:first-child {
        padding-left: 0px;
    }

    .search-panel input[type='text'] {
        min-width: 180px;
    }
</style>

<div class="search-panel" style="margin-bottom: 10px">

    <ul class="control-list">
        <li>
            <label for="Name">名称：</label>
            <input id="Name" data-setting-field="Name" data-setting-type="string" type="text" name="Name" value="" />
        </li>
        <li>
            <label for="Val">值：</label>
            <input id="Val" data-setting-field="Value" data-setting-type="string" type="text" name="Val" value="" />
        </li>
    </ul>
</div>

<div id="toolbar">
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="newUser()">New User</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true" onclick="editUser()">Edit User</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true" onclick="destroyUser()">Remove User</a>
</div>

<table id="datagrid" 
        singleSelect="false" title="" url="@Url.Action("GetUsers", "Users", new { area = "Admin" })" >
</table>

<script type="text/javascript">

    function _initGrid() {
        initialDataGrid([[
            { field: 'Name', title: '名', width: 80 },
           { field: 'Email', title: 'Email', width: 50 },
           { field: 'FK', title: 'FK', width: 50 },
           {
               field: 'UserId', title: 'Id', width: 200, formatter: function (val, row, index) {
                   return '<a href="javascript:void(0);" class="removeBtn">asdfasdfasdfasdf' + index + '</a>';
               }
           }]], { multipleSelect: true });
    }

    $(function () {


        $(".removeBtn").live("click", function (e) {
            alert("ads");
        });
    });

    function buildParams(param) {
        buildUpParams(param);
    }

    function _DoSearch2() {
        $.ajax({
            type: "POST",
            url: "@Url.Action("GetUsers", "Users", new { area = "Admin" })",
            data: {
                queryParams: $.toJSON([{
                    Field1: "2",
                    Field2: "2"
                }]),
                ids: ["2,3,6", "3423"],
                page: 1,
                rows: 5
            },
            dataType: "json",
            traditional: true,
            success: function (e) {
                alert($.toJSON(e));
            }
        });
    }

</script>
