@{
    ViewBag.Title = "系统后台";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">



    var _menus = {
        "menus": [
             {
                 "menuid": "1", "icon": "icon-sys", "menuname": "系统管理",
                 "menus": [{
                     "menuid": "11", "menuname": "我的博客", "icon": "icon-nav", "url": "http://www.cnblogs.com/WikStone/",
                     "menus": [{
                         "menuid": "40", "menuname": "test", "icon": "icon-nav", "url": "http://www.cnblogs.com/WikStone/"
                     }]
                 },
                         { "menuid": "12", "menuname": "添加用户", "icon": "icon-add", "url": "@Url.Action("AddUser","Users",new {area="Admin"})" },
                         { "menuid": "13", "menuname": "用户管理", "icon": "icon-users", "url": "/User/" },
                         { "menuid": "14", "menuname": "角色管理", "icon": "icon-role", "url": "demo2.html" },
                         { "menuid": "15", "menuname": "权限设置", "icon": "icon-set", "url": "demo.html" },
                         { "menuid": "16", "menuname": "系统日志", "icon": "icon-log", "url": "demo1.html" }
                 ]
             }, {
                 "menuid": "8", "icon": "icon-sys", "menuname": "员工管理",
                 "menus": [{ "menuid": "21", "menuname": "员工列表", "icon": "icon-nav", "url": "demo.html" },
                         { "menuid": "22", "menuname": "视频监控", "icon": "icon-nav", "url": "demo1.html" }
                 ]
             }, {
                 "menuid": "56", "icon": "icon-sys", "menuname": "部门管理",
                 "menus": [{ "menuid": "31", "menuname": "添加部门", "icon": "icon-nav", "url": "demo1.html" },
                         { "menuid": "32", "menuname": "部门列表", "icon": "icon-nav", "url": "demo2.html" }
                 ]
             }, {
                 "menuid": "28", "icon": "icon-sys", "menuname": "财务管理",
                 "menus": [{ "menuid": "41", "menuname": "收支分类", "icon": "icon-nav", "url": "demo.html" },
                         { "menuid": "42", "menuname": "报表统计", "icon": "icon-nav", "url": "demo1.html" },
                         { "menuid": "43", "menuname": "添加支出", "icon": "icon-nav", "url": "demo2.html" }
                 ]
             }, {
                 "menuid": "39", "icon": "icon-sys", "menuname": "商城管理",
                 "menus": [{ "menuid": "51", "menuname": "商品分类", "icon": "icon-nav", "url": "demo.html" },
                         { "menuid": "52", "menuname": "商品列表", "icon": "icon-nav", "url": "demo1.html" },
                         { "menuid": "53", "menuname": "商品订单", "icon": "icon-nav", "url": "demo2.html" }
                 ]
             }
        ]
    };

             //设置登录窗口
             function openPwd() {
                 $('#w').window({
                     title: '修改密码',
                     width: 400,
                     modal: true,
                     shadow: false,
                     closed: true,
                     height: 200,
                     resizable: false
                 });
             }
             //关闭登录窗口
             function closePwd() {
                 $('#w').window('close');
             }


             //初始化左侧
             function InitLeftMenu1() {

                 $(".easyui-accordion1").empty();
                 var menulist = "";

                 $.each(_menus.menus, function (i, n) {
                     menulist += '<div title="' + n.menuname + '"  icon="' + n.icon + '" style="overflow:auto;">';
                     menulist += '<ul>';
                     $.each(n.menus, function (j, o) {
                         menulist += '<li><div><a ref="' + o.menuid + '" href="#" rel="' + o.url + '" ><span class="icon ' + o.icon + '" >&nbsp;</span><span class="nav">' + o.menuname + '</span></a></div></li> ';
                     })
                     menulist += '</ul></div>';
                 })

                 $(".easyui-accordion1").append(menulist);

                 $('.easyui-accordion1 li').click(function () {
                     var aUnderthis = $(this).find("a");
                     var tabTitle = aUnderthis.children('.nav').text();

                     var url = aUnderthis.attr("rel");
                     var menuid = aUnderthis.attr("ref");
                     var icon = getIcon(menuid, icon);

                     addTab(tabTitle, url, icon);
                     $('.easyui-accordion1 li').removeClass("selected");
                     $(this).addClass("selected");
                 }).hover(function () {
                     $(this).addClass("hover");
                 }, function () {
                     $(this).removeClass("hover");
                 });

                 //导航菜单绑定初始化
                 $(".easyui-accordion1").accordion({ animate: false });
             }


             //修改密码
             function serverLogin() {
                 var $newpass = $('#txtNewPass');
                 var $rePass = $('#txtRePass');

                 if ($newpass.val() == '') {
                     msgShow('系统提示', '请输入密码！', 'warning');
                     return false;
                 }
                 if ($rePass.val() == '') {
                     msgShow('系统提示', '请在一次输入密码！', 'warning');
                     return false;
                 }

                 if ($newpass.val() != $rePass.val()) {
                     msgShow('系统提示', '两次密码不一至！请重新输入', 'warning');
                     return false;
                 }

                 $.post('/ajax/editpassword.ashx?newpass=' + $newpass.val(), function (msg) {
                     msgShow('系统提示', '恭喜，密码修改成功！<br>您的新密码为：' + msg, 'info');
                     $newpass.val('');
                     $rePass.val('');
                     close();
                 })

             }

             $(function () {

                 var formLogin = $('#formLogin');


                 if (getCookie('username') == null)//未登录显示登录Dialog否则不渲染            


                     formLogin.dialog({
                         modal: true,
                         closable: false,

                         buttons: [{
                             text: '登录', handler: function () {
                                 if (!formLogin.form("validate")) {
                                     return;
                                 }
                                 //                        $.post(
                                 //                         '/Ajax/HandlerLogin.ashx',
                                 //                           { "username": $("#ipt_username").val(), "userpwd": $("#ipt_userpwd").val() },

                                 //                         function (a) {
                                 //                             if (a == '0') {//登录成功

                                 //                                 $.messager.alert('提示', '登录成功', 'info')
                                 //                                 SetCookie('username', 'wikstone');
                                 //                                 formLogin.dialog('close');
                                 //                             }
                                 //                             else {//登录失败
                                 //                                 $.messager.alert('提示', '登录失败', 'info')
                                 //                             }

                                 //                         }
                                 //                         );
                                 formLogin.dialog('close');

                             }
                         }]

                     }


                      );




                 formLogin.dialog('close');


                 openPwd();
                 InitLeftMenu1();

                 $('#editpass').click(function () {
                     $('#w').window('open');
                 });

                 $('#btnEp').click(function () {
                     serverLogin();
                 })

                 $('#btnCancel').click(function () { closePwd(); })

                 $('#loginOut').click(function () {
                     $.messager.confirm('系统提示', '您确定要退出本次登录吗?', function (r) {

                         if (r) {
                             location.href = '/';
                         }
                     });
                 })




             });



</script>
<title>管理信息系统---Easy UI实例</title>
</head>
<body class="easyui-layout" style="overflow-y: hidden" scroll="no">
    <noscript>
        <div style="position: absolute; z-index: 100000; height: 2046px; top: 0px; left: 0px; width: 100%; background: white; text-align: center;">
            <img src="/Content/images/noscript.gif" alt='抱歉，请开启脚本支持！' />
        </div>
    </noscript>
    <div region="north" split="false" border="false" style="overflow: hidden; height: 41px; /*background: url(/Content/images/layout-browser-hd-bg.gif)*/
background-color:#0078B1; line-height: 40px; color: #fff; font-family: Verdana, 微软雅黑,黑体">
        <span style="float: right; padding-right: 20px;" class="head">欢迎 wikstone <a href="#" id="editpass">修改密码</a> <a href="#" id="loginOut">安全退出</a></span>
        <span style="padding-left: 10px; font-size: 16px;">
            <img src="/Content/images/blocks.gif" width="20" height="20" align="absmiddle" />
            管理信息系统</span>
    </div>
    <div region="south" split="false" style="height: 30px; background: #FFF; color: #666;">
        <div class="footer">By wikstone&nbsp;&nbsp;&nbsp; wikstone@163.com</div>
    </div>
    <div region="west" split="true" title="导航菜单" style="width: 180px;" id="west">
        <div class="easyui-accordion1" fit="true" border="false">
            <!--  导航内容 -->



        </div>

    </div>
    <div id="mainPanle" region="center" style="background: #eee; overflow-y: hidden">
        <div id="tabs" class="easyui-tabs" fit="true" border="false">
            <div title="欢迎使用" style="padding: 20px; overflow: hidden;" id="home">

                <h1>Welcome to using The jQuery EasyUI!！</h1>
                <span style="color: Red; font-size: 16px;">欢迎</span>

            </div>
        </div>
    </div>
    <div id="formLogin" method="post" url="List.aspx" style="width: 300px; height: 200px;" title="用户登录">
        <table width="100%" style="line-height: 50px; border: red 1px;">
            <tr align="center">
                <td align="right">用户名：</td>
                <td align="left">
                    <input id="ipt_username" name="ipt_username" type="text" class="easyui-validatebox" required="true" /></td>
            </tr>
            <tr align="center">
                <td align="right">密码：</td>
                <td align="left">
                    <input id="ipt_userpwd" name="ipt_userpwd" type="password" class="easyui-validatebox" required="true" /></td>
            </tr>
        </table>

    </div>

    <!--修改密码窗口-->
    <div id="w" class="easyui-window" title="修改密码" collapsible="false" minimizable="false"
        maximizable="false" icon="icon-save" style="width: 300px; padding: 5px; background: #fafafa;">
        <div class="easyui-layout" fit="true">
            <div region="center" border="false" style="padding: 10px; background: #fff; border: 1px solid #ccc;">
                <table cellpadding="3">
                    <tr>
                        <td>新密码：</td>
                        <td>
                            <input id="txtNewPass" type="Password" class="txt01" /></td>
                    </tr>
                    <tr>
                        <td>确认密码：</td>
                        <td>
                            <input id="txtRePass" type="Password" class="txt01" /></td>
                    </tr>
                </table>
            </div>
            <div region="south" border="false" style="text-align: right; margin-top: 5px; height: 40px;">
                <a id="btnEp" class="easyui-linkbutton easyui-linkbutton-blue" @*icon="icon-ok"*@ href="javascript:void(0)">确定</a> <a id="btnCancel" class="easyui-linkbutton easyui-linkbutton-gray" href="javascript:void(0)">取消</a>
            </div>
        </div>
    </div>

    <div id="mm" class="easyui-menu" style="width: 150px;">
        <div id="mm-tabclose">关闭</div>
        <div id="mm-tabcloseall">全部关闭</div>
        <div id="mm-tabcloseother">除此之外全部关闭</div>
        <div class="menu-sep"></div>
        <div id="mm-tabcloseright">当前页右侧全部关闭</div>
        <div id="mm-tabcloseleft">当前页左侧全部关闭</div>
        <div class="menu-sep"></div>
        <div id="mm-exit">退出</div>
    </div>


</body>
